
<!-- Navigation to help with the Blog -->
<h4 align="left"><small>The blog has 
<a href="http://www.iainbenson.com/categories/linux.html">Linux</a>, 
<a href="http://www.iainbenson.com/categories/dev.html">Dev</a>, 
<a href="http://www.iainbenson.com/categories/investment.html">Investment</a> and 
<a href="http://www.iainbenson.com/categories/random.html">Random</a> categories.  You can browse using 
<a class="post-tag" href="http://www.iainbenson.com/blog/all_tags.html">Tags</a>.
<br class="visible-xs-block">
</small></h4>
